{{#section "script"}}
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="/js/search.js" defer></script>
{{/section}}

<a href="/">Home</a>
>
<a href="/search">Search</a>

<h2><div>Search</div></h2>

<div id="search">
</div>