{{#section "script"}}
    <script>

        function validatePassword(password, passwordConfirm) { if(password.value
        !== passwordConfirm.value) {
        passwordConfirm.setCustomValidity("Passwords Don't Match"); } else {
        passwordConfirm.setCustomValidity(""); } } function onSubmit() { const
        valids = [...document.querySelectorAll("input")].map( (input) => { const
        valid = input.checkValidity(); if (valid) {
        input.classList.remove("invalidated"); } else {
        input.classList.add("invalidated"); } return valid; }); if
        (valids.every((v) => v)) { document.querySelector("form").submit(); } }
        addEventListener("load", () => { const password =
        document.getElementById("password"); const passwordConfirm =
        document.getElementById("password-confirm");
        password.addEventListener("keyup", () => validatePassword(password,
        passwordConfirm)); passwordConfirm.addEventListener("keyup", () =>
        validatePassword(password, passwordConfirm)); const submit =
        document.getElementById("submit-button");
        submit.addEventListener("click", (event) => onSubmit(event)); });
    </script>
{{/section}}

<a href="/">Home</a>
>
<a href="/signup">Sign Up</a>

<h2><div>Sign up</div></h2>

<div class="signup">
    <form class="signup-form" method="post" action="/signup">
        {{#if (gt errors.length 0)}}
            <div class="form-errors">
                {{#each errors}}
                    <div
                        class="flash text-error background-error"
                    >{{this.msg}}</div>
                {{/each}}
            </div>
        {{/if}}

        <input type="hidden" name="_csrf" value="{{csrfToken}}" />

        <div class="input-group">
            <label for="username">Username:</label>
            <div class="flex align-items-center">
                <input
                    type="text"
                    name="username"
                    id="username"
                    autocomplete="off"
                    minlength="3"
                    maxlength="32"
                    pattern="[a-zA-Z0-9_-]{3,32}"
                    title="Username must use a-z, A-Z, 0-9 or _ -"
                    required
                />
                <span class="input-checkmark"></span>
            </div>
        </div>

        <div class="input-group">
            <label for="name">Name:</label>
            <div class="flex align-items-center">
                <input
                    type="text"
                    name="name"
                    id="name"
                    autocomplete="off"
                    minlength="3"
                    maxlength="32"
                    pattern="[a-zA-Z\d\s-]{3,32}"
                    required
                />
                <span class="input-checkmark"></span>
            </div>
        </div>

        <div class="input-group">
            <label for="email">Email:</label>
            <div class="flex align-items-center">
                <input
                    type="email"
                    name="email"
                    id="email"
                    autocomplete="off"
                    minlength="4"
                    maxlength="32"
                    required
                />
                <span class="input-checkmark"></span>
            </div>
        </div>

        <div class="input-group">
            <label for="password">Password:</label>
            <div class="flex align-items-center">
                <input
                    type="password"
                    name="password"
                    id="password"
                    autocomplete="off"
                    minlength="6"
                    maxlength="32"
                    required
                />
                <span class="input-checkmark"></span>
            </div>
        </div>

        <div class="input-group">
            <label for="password-confirm">Confirm password:</label>
            <div class="flex align-items-center">
                <input
                    type="password"
                    name="password-confirm"
                    id="password-confirm"
                    autocomplete="off"
                    minlength="6"
                    maxlength="32"
                    required
                />
                <span class="input-checkmark"></span>
            </div>
        </div>

        <div class="input-group">
            <button class="primary" id="submit-button">Sign Up</button>
        </div>

    </form>
</div>